@font-face {
  font-family: Main;
  src: url("/fonts/Main.ttf");
}

@font-face {
  font-family: Loading;
  src: url("/fonts/Loading.ttf");
}

@import "tailwindcss";

@theme {
  --color-primary: #6b4f3a;
  --color-dark: #363635;
  --color-bright: #f4eee2;
}

@theme {
  --font-main: Main, "sans-serif";
  --font-loading: Loading, "sans-serif";
}
